<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Para ver los archivos incluidos ir a: https://github.com/spring-projects/spring-boot/tree/main/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="CONSOLE_LOG_CHARSET" value="UTF-8"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
    </appender>

    <property name="LOG_FILE" value="log/file.log"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE" />
        <appender-ref ref="ASYNC_FILE" />
    </root>
</configuration>